.collapse.in{
	height: 200px !important;
	display: block !important;
}
.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: #222;
  border-top: 1px solid #4d4d4d;
  font-size:12px;
  color:#999;
}

main {
	min-height: 800px;
}

/*main page cards*/
.b-main-page__line {
 max-width:1280px;
 margin:0 auto;
 padding:0 23px;
 position:relative
}
.b-main-page__full-line {
 width:100%;
 overflow:hidden
}
.b-main-page__full-line_limit-height {
 height:100%;
 max-height:440px
}
.b-main-page__full-line_limit-height img {
 max-width:100%;
 width:100%;
 height:auto;
 will-change:transform;
 transition:-webkit-transform .15s linear;
 transition:transform .15s linear;
 transition:transform .15s linear,-webkit-transform .15s linear
}
.b-main-page__full-line_inner {
 height:100%;
 max-height:380px;
 position:relative
}
.b-main-page__full-line_inner:before {
 content:'';
 position:absolute;
 top:0;
 left:0;
 width:100%;
 height:100%;
 background:rgba(0,0,0,.67);
 z-index:1
}
.b-main-page__full-line_inner img {
 position:relative;
 top:0;
 left:50%;
 -webkit-transform:translate3d(-50%,0,0);
 transform:translate3d(-50%,0,0)
}

.b-categories .b-category-card,.b-categories .b-slider__tile {
 display:-webkit-flex;
 display:-ms-flexbox;
 -webkit-flex-direction:column;
 max-height:300px
}

 }
 .b-slider-menu-cocount {
  height:65px;
  overflow:hidden;
  margin:0 -23px!important;
  position:relative
 }
 .b-slider-menu-cocount:before {
  content:'';
  display:block;
  position:absolute;
  top:0;
  right:0;
  width:15%;
  height:100%;
  background:linear-gradient(to right,rgba(255,255,255,0) 0,rgba(255,255,255,.9) 60%,#fff 100%);
  filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=1 );
  z-index:2
 }
 .b-slider-menu {
  line-height:60px;
  background:#fff;
  overflow-y:hidden;
  overflow-x:auto;
  height:80px;
  white-space:nowrap;
  display:block
 }
 .b-slider-menu .b-link {
  margin:0 20px;
  color:#000;
  outline:0
 }
 
 .b-slider-menu .b-link:first-child {
  margin-left:0
 }

 .b-tile-new .b-header-img img {
 width:100%;
 height:auto
}

/*back to top and footer*/
a.backtotop {
-moz-transition:background-color .2s ease-in;
-o-transition:background-color .2s ease-in;
-webkit-transition:background-color .2s ease-in;
 padding:40px;
 text-align:center;
 font-family:texgyreherosbold,texgyreherosregular,'Helvetica Neue',Helvetica,Arial,sans-serif;
 font-size:12px;
 letter-spacing:1px;
 display:block;
 color:#fff;
 background-color:#2657e4;
 background-color:#333
}
a.backtotop:after,a.backtotop:before {
 content:" ";
 display:table
}
a.backtotop:after {
 clear:both
}
a.backtotop:after,a.backtotop:before {
 content:" ";
 display:table
}
a.backtotop:after {
 clear:both
}
a.backtotop:hover {
 background-color:#3d69e7
}

.card-footer .row {
 padding-top:30px;
 padding-bottom:60px
}
.card-footer .inner {
 padding:0 15px;
 line-height:1.5
}

.list-inline {
 padding-left:0;
 list-style:none;
 margin-left:-5px
}
.list-inline>li {
 display:inline-block;
 padding-left:5px;
 padding-right:5px
}

#breadcrumb-tools .social-links {
 margin-left:-5px;
 padding-left:0;
 list-style:none;
 background:#fff;
 font-size:18px;
 text-align:right;
 margin:0;
 padding:0
}
#breadcrumb-tools .social-links>li {
 display:inline-block;
 padding-left:5px;
 padding-right:5px
}
#breadcrumb-tools .social-links li {
 margin:0;
 padding:0 10px
}
@media (max-width:768px) {
 #breadcrumb-tools .social-links {
  text-align:center
 }
}

.card-footer .copy {
 padding:40px;
 border-top:1px solid #686868
}
.card-footer .copy p {
 text-align:right;
 line-height:1;
 font-size:10px;
 color:#777;
 margin:0
}
.card-footer .copy p a {
 color:#777
}
.card-footer .copy p a:hover {
 color:#fff
}
@media (max-width:480px) {
 .card-footer .copy p {
  text-align:center
 }
}

container {
 margin-right:auto;
 margin-left:auto;
 padding-left:0;
 padding-right:0
}
@media (min-width:768px) {
 container {
  width:720px
 }
}
@media (min-width:992px) {
 container {
  width:940px
 }
}
@media (min-width:1200px) {
 container {
  width:1140px
 }
}
.container-fluid {
 margin-right:auto;
 margin-left:auto;
 padding-left:0;
 padding-right:0
}

.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9 {
 position:relative;
 min-height:1px;
 padding-left:0;
 padding-right:0
}

/*colour and padding*/
.grey {
	color:#999;
}
.padleft{
	padding-left: 40px;
}
.topspace{
  padding-top: 40px;
}
.bottomspace{
  padding-bottom: 40px;
}